<h1 style="font-family: 'Lobster', cursive; color:cornflowerblue;">Hi {{vm.users.firstName}}!!</h1>

<div ng-switch on="vm.users.userType">
    <h1 ng-switch-when="1">Welcome as LND Admin </h1>
    <h1 ng-switch-when="2">Welcome as Manager </h1>
    <h1 ng-switch-when="3">Welcome as Employee </h1></div>
<html ng-app="trainingPortal">

<head>
    <title>Training Portal</title>
    <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
   -->
    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/training.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="home/index.controller.js"></script>
    <script src="account/index.controller.js"></script>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }

    </style>


</head>

<body>
    <div ng-controller="Home.IndexController">
        <div ng-switch on="vm.users.userType">
            <div ng-switch-when="1">
                <div ui-grid-pagination ui-grid-edit ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid="gridOptions"></div>
            </div>
        </div>
    </div>
    <!-- <div ng-repeat="training in vm.trainings|orderBy:sortKey:reverse|filter:search"> 
<div ng-switch on="vm.users.userType"><h1 ng-switch-when="1">Welcome as LND Admin </h1><h1 ng-switch-when="2">Welcome as Manager </h1><h1 ng-switch-when="3">Welcome as Employee </h1></div>
</div> -->

    <!--  <form ng-submit="addPost()"
        style="margin-top:30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form> -->


    <!-- ************************** this is a template block *************************************
******************************************************************************************-->
    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Flapper News</h1>
        </div>
        <!-- rest of template -->
    </script>
</body>

</html>
